




.marco{
 margin-top: 5%;
  margin-left: 34%;


    /* Ancho */
    width: 500px;

    /* tamaño de cuadro blanco  */
    padding: 40px;

    /* Bordes redondeados */
    border-radius: 12px;

    /* Sombra   */
    box-shadow: 0px 50px 100px rgba(0,0,0,0.1);

    /* Centrar texto */
    text-align: center;
}






/* NOMBRE */


.nombre{

    /* Tamaño */
    font-size: 42px;

    /* Color */
    color: #000;

    /* Espacio entre borde de cuadroy nm */
    margin-top: 20px;

    /* Espacio entre nombre y descripción */
    margin-bottom: 10px;
}



/* DESCRIPCIÓN */


.descripcion{

    /* Color gris */
    color: #555;

    /* Tamaño */
    font-size: 17px;

    /* espacio entre líneas */
    line-height: 1.5;

    /* Espacio entre descripcion y temas  */
    margin-bottom: 30px;
}



/* TEMAS */


.temas{

    /* Alinear izquierda */
    text-align: left;

    /* Espacio entre temas y boton */
    margin-bottom: 30px;
}

.titulo-temas{

    /* Tamaño */
    font-size: 28px;

    /* Color */
    color: #111827;
}

.lista{

    /* Espaciado izquierda */
    padding-left: 20px;

    /* Color */
    color: #555;

    /* Tamaño */
    font-size: 18px;
}



/* BOTÓN */


.boton{

    /* Fondo */
    background-color: #111827;

    /* Texto del boton */
    color: white;

    /* sin borde */
    border: none;

    /* tamaño del boton */
    padding: 15px 40px;

    /* Bordes redondeados */
    border-radius: 8px;

    /* Tamaño texto */
    font-size: 18px;
  
   
}


/* Hover del botón */
.boton:hover{

    /* Color al pasar mouse */
    background-color: #1f2937;
}



/* REDES SOCIALES */


.redes{
    
    /* Espacio entre boton y redes */
    margin-top: 40px;

    text-align: center;

}


/* texto de sigueme en redes  */

.texto-redes{

    /* Color */
    color: #000000;

    /* Tamaño */
    font-size: 18px;

    text-align: center;
}







/* fondo */
body{

    /* Color de fondo */
    background-color: #F3F3F3;

    /* Tipo de letra */
    font-family: Arial, Helvetica, sans-serif;

    /*  márgenes automáticos */
    margin: 0;

   

    /* Centrado horizontal */
    justify-content: center;

    /* Centrado vertical */
    align-items: center;

    /* separacion del marco de la pantalla */
    min-height: 100vh;
}


.marco{

    /* Fondo */
    background-color: #FEFFFF;

    /* Ancho */
    width: 500px;

    /* tamaño de cuadro blanco  */
    padding: 40px;

    /* Bordes redondeados */
    border-radius: 12px;

    /* Sombra   */
    box-shadow: 0px 50px 100px rgba(0,0,0,0.1);

    /* Centrar texto */
    text-align: center;
}






/* NOMBRE */


.nombre{

    /* Tamaño */
    font-size: 42px;

    /* Color */
    color: #000;

    /* Espacio entre borde de cuadroy nm */
    margin-top: 20px;

    /* Espacio entre nombre y descripción */
    margin-bottom: 10px;
}



/* DESCRIPCIÓN */


.descripcion{

    /* Color gris */
    color: #555;

    /* Tamaño */
    font-size: 17px;

    /* espacio entre líneas */
    line-height: 1.5;

    /* Espacio entre descripcion y temas  */
    margin-bottom: 30px;
}



/* TEMAS */


.temas{

    /* Alinear izquierda */
    text-align: left;

    /* Espacio entre temas y boton */
    margin-bottom: 30px;
}

.titulo-temas{

    /* Tamaño */
    font-size: 28px;

    /* Color */
    color: #111827;
}

.lista{

    /* Espaciado izquierda */
    padding-left: 40px;

    /* Color */
    color: #555;

    /* Tamaño */
    font-size: 18px;
}



/* BOTÓN */


.boton{

    /* Fondo */
    background-color: #111827;

    /* Texto del boton */
    color: white;

    /* sin borde */
    border: none;

    /* tamaño del boton */
    padding: 15px 40px;

    /* Bordes redondeados */
    border-radius: 8px;

    /* Tamaño texto */
    font-size: 18px;
    
   
}


/* Hover del botón */
.boton:hover{

    /* Color al pasar mouse */
    background-color: #1f2937;
}



/* REDES SOCIALES */


.redes{
    
    /* Espacio entre boton y redes */
    margin-top: 40px;
    
    text-align: center;

}


/* texto de sigueme en redes  */

.texto-redes{

    /* Color */
    color: #666;

    /* Tamaño */
    font-size: 18px;

    text-align: center;
}

.links-redes{

   margin:auto;

    /* Color */
    color: #9D9F9F;

    /* Tamaño */
    font-size: 18px;

    

}

.titulo{

    margin: 0;

    /* Tamaño */
    font-size: 36px;

    /* Color */
    color: #F1F6FA;

    /* Espacio entre titulo y marco */
    margin-bottom: 30px;
}


.contenedor{
    
padding-top: 1%;
    padding-bottom: 1%;

    margin-bottom: 5%;

    /* Fondo */
    background-color: #343434;

    margin: 0;

    /* Centrar texto */
    text-align: center;

    
}

.imagen{

    /* Tamaño de la imagen */
    width: 20%;
    padding-left: 20px;
    padding-right: 20px;
     border: 8px solid #000000;
     border-radius: 60%;
   
}




